:root {
    --light-border-color: rgba(255, 255, 255, 0.1);
    --light-border-color-2: rgba(255, 255, 255, 0.2);
    --less-light-border-color: rgba(255, 255, 255, 0.3);
    --white-color: rgba(255, 255, 255, 1);

    --black-color: rgba(0, 0, 0, 1);
    --black-two-opaque-color: rgba(0, 0, 0, 0.2);

}